@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'open sans', sans-serif;
    font-weight: 250;
    color: #333333;
}

/* Headings */

h1, h2 {
    font-family: 'source sans pro', sans-serif;
    text-transform: uppercase;
    color: #000033;

}