@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
    border: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'open sans', sans-serif;
    font-weight: 250;
    color: #333333;
}

/* Headings & Logo */

h1,
h2 {
    font-family: 'source sans pro', sans-serif;
    text-transform: uppercase;
    color: #000033;
}

#site-header {
    font-size: 110%;
}

#logo {
    text-shadow: 2px 2px 5px #808080;
    margin-left: 8px;
}

/* menus nav stylying */

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}
#menu li {
    margin-right: 8px;
    font-weight: bold;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#logo a {
    text-decoration: none;
}
#menu a:hover {
    color: skyblue;
}
.active {
    border-bottom: 1px dotted grey;
}
#site-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    text-align: center;
}
#menu li {
    display: inline-flex;
    margin: 0 10px;
    list-style-type: none;
}

/* Hero Image */

.hero {
    height: 500px;
    background-image: url(../images/home-page-hero-crop.png);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-text {
    color: white;
    text-transform: capitalize;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    line-height: 35px;
    border-style: groove;
    border-radius: 10px;
    font-size: 1rem;
    min-width: 50vw;
}
.hero-title {
    color: white;
    letter-spacing: .15rem;
}
.hero-subtitle {
    letter-spacing: .12rem;
    font-weight: bold;
}
.hero-contact {
    letter-spacing: .11rem;
    text-transform: uppercase;
}
.hero-button {
    font-size: 1rem;
    padding: 3px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: .3rem 2.5rem;
    border: groove;
    cursor: pointer;
}
.hero-button:active {
    transform: translate(4px);
    box-shadow: 0 5px rgb(182, 182, 182);
}
.hero-button:hover {
    background-color: rgb(182, 182, 182);
}

/* Services Section Homepage */

.services-heading {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    padding: 20px;
}
.box-text {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    line-height: 30px;
}
.services-button {
    margin-top: 5px;
    font-size: .9rem;
    padding: 3px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: .3rem 2.3rem;
    border: groove;
}
.services-button:active {
    transform: translate(4px);
    box-shadow: 0 5px;
}
.services-button:hover {
    background-color: rgb(182, 182, 182);
}

/* About Us Home Page Section */

.services-heading {
    text-align: center;
    border-top: groove;
    padding-bottom: 5px;
}
.text-about {
    text-align: center;
    font-size: 1.2rem;
    line-height: 30px;
    padding: 10px;
    border-bottom: groove;
    padding-bottom: 20px;
}
.fa-check-circle {
    color: green;
}

/* Our Crediantial Homepage Section */

.cred-heading {
    text-align: center;
    padding-top: 20px;
}
.img-wrapper {
    line-height: .25;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 20px;
}
.img-cred {
    margin: 15px;
    height: 80%;
    width: 80%;
}

/* Footer */

#footer {
    background-color: #000033;
}
.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    padding-bottom: 10px;
}
.footer-text {
    text-align: center;
    color: white;
    padding-top: 5px;
}
.fa-facebook-square {
    color: white;
}
.fa-instagram-square {
    color: white;
}
.fa-youtube {
    color: white;
}

/* services page */
/* Design and Build Service Hero Image*/

.design-build-hero {
    height: 150px;
    background-image: url(../images/design-and-build\ .jpg);
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Hero Text Box services */

.services-hero-text {
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-style: groove;
    border-radius: 10px;
    position: absolute;
}

/* Text Content styling services section */

.services-content {
    display: flex;
    flex-direction: column;
    background-color:white;
    text-align: center;
    color: black;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: groove;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5rem;
    
}
.services-button {
    font-size: 1rem;
    padding: 3px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: .3rem 2.5rem;
    cursor: pointer;
}

/* new build service section hero image */

.new-build-hero {
    height: 150px;
    background-image: url(../images/new-builds.jpg);
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*renovation service section hero image */

.rennovation-hero {
    height: 150px;
    background-image: url(../images/rennovation.jpg);
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* extensions service section hero image */

.extensions-hero {
    height: 150px;
    background-image: url(../images/extensions\ .jpg);
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Contact Us Page */
/* contact us hero image */

.contact-hero {
    height: 150px;
    background-image: url(../images/contact-us-crop.jpg);
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-hero-text {
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-style: groove;
    border-radius: 10px;
    position: absolute;
}
.contact-details {
    font-size: 1.2rem;
    padding: 2px;
}

/* contact us form*/

.form-section {
    clear: left;
    background: url(../images/keys-contact-back.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}
.contact-us {
    margin: 150px 10% 0 0;
    color: black;
    background-color: #CCCCCC;
    border-radius: 20px;
    border: groove;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.signup-form>h2 {
    color: #CCCCCC;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 5px;
}
.text-input:hover {
    border-color: rgb(0, 0, 51);
}
.join-button {
    margin-top: 20px;
    border-radius: 8px;
    border: groove;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(0, 0, 51);
    color: #fafafa;
    display: block;
    cursor: pointer;
}
.join-button:hover {
    background-color: whitesmoke;
    color: black;
}

/* Video Homepage*/

.join-button:active {
    transform: translate(4px);
    box-shadow: 0 5px rgb(182, 182, 182);
}
.container-video {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
}
.video {
    width: 100vw;
    height: 43vw;
    object-fit: cover;
}
.video-heading {
    border-top: groove;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

/* Thank You Page when form completed */

#thank-you {
    height: 500px;
    background-image: url(../images/keys-contact-back.jpg);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.thank-you-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #CCCCCC;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: groove;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2rem;
}

/* media query Section */
/* media query what we do section remove grid template 800px */

@media only screen and (min-width: 800px) {
    .wrapper {
        grid-template: none;
    }
}

/* media query what we do section add grid template 1150px */

@media only screen and (min-width: 1150px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* media query Crediantials section @ 750px apply flex wrap */

@media only screen and (max-width: 700px) {
    .img-wrapper {

        flex-wrap: wrap;
    }
}

/* media query header disply screen in row at 600px */

@media only screen and (min-width: 600px) {
    #site-header {
        flex-direction: row;
    }
}

/* media query remove hero banner hompage in small smart phone less than 335px */

@media only screen and (max-width: 335px) {
    .hero-text {
        display: none;
    }
    #menu {
        font-size: 5vw;
        margin: 0 2px;
    }
    #logo {
        font-size: 9vw;
        margin: 0 5px;
    }
}