@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'open sans', sans-serif;
    font-weight: 250;
    color: #333333;
}

/* Headings & Logo */

h1, h2 {
    font-family: 'source sans pro', sans-serif;
    text-transform: uppercase;
    color: #000033;

}

#logo {
    float: left;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px #808080;
    margin-left: .7rem;
}

/* menus nav stylying */

#menu {

    font-size: 1.2rem;
    letter-spacing: 2px;
}

#menu li {

    float: right;
    list-style-type: none;
    margin-right: 2rem;
    font-weight: bold;
   
    
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {

    color: rgb(182, 182, 182);
}
.active {

    border-bottom: 1px dotted grey;

  }

/* Hero Image */

.hero {

    height:500px;
    background-image: url(../images/color\ hero\ image\ of\ house.jpg);
    width:100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.hero-text {
    color: white;
    text-transform: capitalize;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    line-height: 35px;
    border-style: groove;
    border-radius: 10px;
    font-size: 1rem;
    
}

.hero-title {

    color: white;
    letter-spacing: .15rem;
}

.hero-subtitle {

    letter-spacing: .12rem;
    font-weight: bold;
    
}

.hero-contact {
    letter-spacing: .11rem;
    text-transform: uppercase;
}

.hero-button {

  font-size: 1rem;
  padding: 3px;
  border-radius: 5px;
  text-transform: uppercase;
  padding: .3rem 2.5rem;
    
}

.hero-button:hover {
    background-color: rgb(182, 182, 182);
}

/* Services Section Homepage */

.services-heading {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0;
   }


.wrapper {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    padding:20px;
    
}


.box-text {
text-align: center;
font-size: 1rem;
margin:10px;   
line-height: 30px;

}

.service-text {
    

}

.services-button {

    font-size: .9rem;
    padding: 3px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: .3rem 2.3rem;
            
}

.services-button:hover {
    background-color: rgb(182, 182, 182);
}


/* About Us Home Page Section */




.services-heading {

    text-align: center;
    border-top: groove;
}

.text-about {

   text-align: center;
   font-size: 1rem;
   line-height: 30px;
   padding: 10px;
   border-bottom: groove;
   padding-bottom: 20px;
   
   
}

.fa-check-circle {
    color: green;
    
}


/* Our Crediantial Homepage Section */

.cred-heading{

    text-align: center;
    padding-top: 20px;
    

    }

.img-wrapper{

    line-height: .25;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    border-bottom: groove;
    padding-bottom: 20px;
    
}


.img-cred {

    margin: 5px;
}
  
/* Footer */

#footer {
    background-color: rgb(0,0,51)
    ;
}

.footer-wrapper {

    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    padding: 5px;
    color: inherit;
            
   
}

.socail-text{

    
    color: red;
    
    
}

.footer-text {
    text-align: center;
    margin-left: 10px;
}